ul li
{
  margin-right: 20px;
  padding-top: 15px;
}


li
{
  float: left;
}

li a
{
  display: inline;
  text-align: center;
}

li span
{
  font-size: 1.5em;
  color: #767d87;
}

.menu a, .menu a:hover, li span:hover
{
  color: #000;
}

.menu a, .menu a:hover, .buttons a, .buttons a:hover
{
  background-color: inherit;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.01em;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;

}

.menu_right
{
  float: right;
}

.menu_left
{
  float: left;
  padding-left: 15px;
}

ul.menu_left, ul.menu_right
{
  position: relative;
}

.buttons
{
  display: block;
  margin: -25px auto;
  width: 280px;
}

#bton, #bton1, #bton2
{
  border-radius: 2px;
  color: #fff;
  padding: 7.5px 15px;
  text-decoration: none;
}

li #bton1
{
  float: left;
}

li #bton2
{
  float: right;
}

li #bton
{
  background-color: #4285f4;
  color: white;
  font-weight: bold;
}

li #bton1, li #bton2
{
  background-color: #f2f2f2;
  color: darkgray;
  font-weight: bold;
}

li #bton1:hover, li #bton2:hover
{
  border: 1px solid darkgrey;
}

.btn
{
  background-color: #f2f2f2;
  border-radius: 2px;
  color: #000000;
  padding: 7.5px 15px;
  text-decoration: none;
}

.foot
{
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e7e7e7;
}

.foot .menu_right
{
  padding-right: 35px;
}

img
{
  display: block;
  max-width: 285px;
  margin: auto;
  padding-top: 50px;
}

input[type=text]
{
  background-color: #f2f2f2;
  margin: -75px auto;
  display: block;
  width: 450px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7;
  border-radius: 2px;
}

input[type=text]:hover, input[type=text]:focus
{
  border-bottom: 1px solid #c7c7c7;
  box-shadow: 0 1px 1px #c7c7c7, 0 0 1px #c7c7c7;
  outline: none;
}
